.root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#canvas {
  height: 100%;
}

.properties-panel-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  z-index: 10;
  border-left: 1px solid #ccc;
  overflow: auto; }

.properties-panel-parent:empty {
  display: none; }

.properties-panel-parent > .bpp-properties-panel {
  padding-bottom: 70px;
  min-height: 100%; }
