
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	line-height: 1.42857143;
}

a {
	color: #00a09d;
}

.nav-bar {
	background-color: #875a7b;
	border-bottom: 1px solid #68465F;
	color:white;
	height:46px;
}

.nav-bar ul {
	display:flex;
	flex-direction:row;
	list-style-type:none;
	padding:0;
	margin:0;
	align-items:center;
}

.nav-bar ul > li {
	margin:0 10px;
	line-height:46px;
}

.nav-bar ul > li.menu-brand {
	font-size:22px;
	font-weight:500;
	margin-top:-4px;
}

.panel {
	border: 1px solid transparent;
	margin-bottom: 18px;
	color: #666;
}

.panel-success {
	border-color: #d6e9c6;
}

.panel-info {
	border-color: #bce8f1;
}

.panel .panel-heading {
	padding: 10px 15px;
	font-size:15px;
	border-bottom:1px solid transparent;
}

.panel .panel-body {
	padding:15px;
}

.panel-success .panel-heading {
	background-color: #dff0d8;
	border-bottom-color: #d6e9c6;
	color: #3c763d;
}

.panel-info .panel-heading {
	background-color: #d9edf7;
	border-bottom-color: #bce8f1;
	color: #31708f;
}

.small {
	font-size:92%;
}

