<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>@ViewBag.Title</title>
	@RenderSection("meta", false)
</head>
<body>

	<div class="nav">SIMPLE PAGE LAYOUT without any elements</div>

	@RenderBody()

</body>
</html>
