/*
	https://icolorpalette.com/color/dd2c5e
*/

/*  //samples:
	https://www.alldaydevops.com/attend-addo?utm_campaign=Q32020-ADDO&utm_source=FB&utm_medium=pDigital&fbclid=IwAR03stYASgx1AtszjnR94uUfU_5QEnodFT3kbkLHyemaNDJiFWVh60hsLhc
	
	//contrast checker:
	https://webaim.org/resources/contrastchecker/

	//Palette:
	https://colors.muz.li/palette/dd2c5e/8df26f/d1713e/2a5bd6/fff138

	// yellow color (2020 pantone):
	https://www.pantone.com/color-finder/13-0647-TCX
*/


@yellow: #fbd737;  //49,96,60

@neutralBkDarker: #c8c7c6;
@neutralBkDark: #edebe9;
@neutralBk: #f3f2f1;
@neutralBkLight: #faf9f8;
/*
	DEFAULT
*/
@link:#2291b0; // secondary-d2
@link2:#51b1cc;
@yellow2: #fbf666;

/* end of default */

@themeColor:#dd2c5e; // 343,72,52
// triadic
@color-t3: #2c5edd;
@color-t4: #5edd2c;

//Split-Complementary Scheme
@color2l2:#55c4e3;
@color2l1:#40bde0;
@color2: #2bb6dd;
@color2d1: #26a3c6;
@color2d2: #2291b0;
@color2d3: #1e7f9a;
@color2d4: #196d84;

@color3: #2bdd52;

// OUTLOOK RED
@black: #000000;
@blackTranslucent40: rgba(0,0,0,0.4);
@blackTranslucent10: rgba(0,0,0,0.1);
@white: #ffffff;
@whiteTranslucent40: rgba(255,255,255,0.4);
@whiteTranslucent90: rgba(255,255,255,0.9);
@neutralDark: #201f1e;
@neutralPrimary: #323130;
@neutralPrimaryAlt: #3b3a39;
@neutralSecondary: #605e5c;
@neutralTertiary: #a19f9d;
@neutralTertiaryAlt: #c8c6c4;
@neutralQuaternary: #d2d0ce;
@neutralQuaternaryAlt: #e1dfdd;
@neutralLight: #edebe9;
@neutralLighter: #f3f2f1;
@neutralLighterAlt: #faf9f8;
@redDark: #a4262c;
@flaggedMessage: #fffdd9;
@richUserContentBackground: #fff;
@composeNeutralBackground: #fff;
@composeNeutralLighterBackground: #f4f4f4;
@themeDarker: #C32D39;
@themeDark: #D3424D;
@themeDarkAlt: #D3424D;
@themePrimary: #DB626C;
@themeSecondary: #DD737D;
@themeTertiary: #E8A1A8;
@themeLight: #F0C1C5;
@themeLighter: #F7E0E2;
@themeLighterAlt: #FCF4F5;


/*JASMINE PALETTE*/
@purple: #8a4182;
@green: #007069;