@import "Variables.less";

.tags-control {
	.input-group {
		display: flex;
		min-height: 30px;
		padding: 2px;
	}

	.tags-items {
		flex-grow: 1;
		margin: 0;
		padding: 0;
		gap: 4px;
		flex-wrap: wrap;
		display: flex;
	}

	li.tag-label {
		list-style: none;
		padding: 0 4px 0 6px;
		border-radius: 2px;
		line-height: 1.8;

		.btn-close {
			background-color: transparent;
			color: inherit;
			padding: 0 0 0 4px;
		}
	}

	.btn-open {
		background-color: transparent;

		&:hover {
			background-color: @hover-bg-light;
		}
	}

	.tags-placeholder {
		flex-grow:1;
		line-height:1.5;
		padding:0 .5rem;
		color:@label-color;
	}

	.tags-pane {
		position: absolute;
		background-color:white;
		top: 100%;
		left: 0;
		width: 100%;
		min-width: 100px;
		border: 1px solid @control-focus-color;
		padding: .5rem;
		z-index: @popup-index !important;
		box-shadow: @dropdown-shadow;

		.tags-pane-items {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			gap: 4px;
			align-items: start;
			flex-wrap: wrap;

			li {
				cursor: pointer;
				line-height: 1.83;
				padding: 0 6px;
			}
		}

		.tags-settings {
			margin-top: .5rem;
			padding-top: .5rem;
			border-top: 1px solid @default-brd-color;
		}

		.btn-settings {
			background-color: transparent;
			color: @link-color;
			border-radius:2px;

			&:hover {
				background-color: @hover-bg-light;
			}
		}
	}
}

.tags-list {
	display:flex;
	flex-direction:row;
	gap:2px;
	flex-wrap:wrap;

}