<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet"/>
</head>
<body>
    <!--TODO:
        5:
    -->
    <div id="test-app" style="padding:20px;height:600px;overflow:auto">
        <h4>Simple DataGrid</h4>
        <div>
            <div class="toolbar">
                <button @click.stop.prevent="Customers.$append()"><i class="fa fa-plus"></i> add row</button>
                <button @click.stop.prevent="$append100()"><i class="fa fa-plus"></i> add 100 rows</button>
                <button @click.stop.prevent="$exec('test')"><i class="fa fa-database"></i> exec</button>
                <button @click.stop.prevent="$save()" :disabled="$isPristine"><i class="fa fa-save"></i> save</button>
                <button @click.stop.prevent="$reload()"><i class="fa fa-refresh"></i> refresh</button>
                <label v-text="Customers.length"></label>
                <button :disabled="!Customers.$selected" @click.stop.prevent="Customers.$selected.$remove()"><i class="fa fa-tasks"></i> remove selected</button>
                <label v-text="Customers.Total"></label>
                <label v-text="'dirty:' + $isDirty + ' pristine:' + $isPristine"></label>
                <textbox :item="MyElement" prop="Name"></textbox>
            </div>
            <data-grid :items-source="$Customers10" 
                       :bordered="true" 
                       :striped="true" 
                       :hover="true"
                       :sort="true"
                       :onsort="$onSort"
                       :selected="Customers.selected">
                <data-grid-column id="check" icon="check" align="center"></data-grid-column>
                <data-grid-column header="#" content="$index" align="center"></data-grid-column>
                <data-grid-column header="Id" content="Id" align="center"></data-grid-column>
                <data-grid-column header="Name" content="Name" validate="Customers[].Name"></data-grid-column>
                <data-grid-column header="Amount" content="Amount" :editable="true" align="right"></data-grid-column>
                <data-grid-column header="Sum" content="Sum" align="right"></data-grid-column>
                <data-grid-column header="Edit Name" content="Name" :editable="true" align="center"></data-grid-column>
                <data-grid-column id="clr" icon="trash" align="center" :sortable="false"></data-grid-column>
                <data-grid-column id="txtbox" header="TextBox"></data-grid-column>
                <template slot="clr" scope="cell">
                    <button v-if="cell.row.$checked" @click.stop.prevent="cell.row.$remove()"><i class="fa fa-trash"></i>
                    </button><button @click.stop.prevent="$exec('inc', cell.row, 100)"><i class="fa fa-plus"></i>
                    </button><button @click.stop.prevent="$exec('inc', cell.row, -100)"><i class="fa fa-minus"></i></button>
                </template>
                <template slot="check" scope="cell">
                    <input type="checkbox" value="true" v-model="cell.row.$checked" />
                </template>
                <template slot="txtbox" scope="cell">
                    <textbox :item="cell.row" prop="Name" align="right"></textbox>
                </template>
            </data-grid>
        </div>
        <h4>Data</h4>
        <div>
            <pre v-text="$data"></pre>
        </div>
    </div>
    <script type="text/javascript" src="../scripts/vue.js"></script>
    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/platform/webvue.js"></script>
    <script type="text/javascript" src="../app/services/utils.js"></script>
    <script type="text/javascript" src="../app/services/validators.js"></script>
    <script type="text/javascript" src="../app/services/datamodel.js"></script>
    <script type="text/javascript" src="../app/components/validator.js"></script>
    <script type="text/javascript" src="../app/components/control.js"></script>
    <script type="text/javascript" src="../app/components/textbox.js"></script>
    <script type="text/javascript" src="../app/components/datagrid.js"></script>


<script type="text/javascript">
(function () {
    const cmn = require('datamodel');
    const store = require('store');
    // ctor
    function TCustomer(source, path, parent) {
        cmn.createObject(this, source, path, parent);
    }

    // metadata
    cmn.defineObject(TCustomer, {
        Id: Number,
        Name: String,
        Amount: Number
    }, /* array item */ true);

    function TCustomerArray(source, path, parent) {
        return cmn.createArray(source, path, TCustomer, TCustomerArray, parent);
    }

    function TRoot(source) {
        cmn.createObject(this, source, '', this);
    }

    cmn.defineObject(TRoot, {
        Customers: TCustomerArray,
        MyElement: TCustomer
    });

    let modelData = {
        Customers: [
            { Id: 5, Name: "Customer # 5", Amount: 500 },
            { Id: 7, Name: "Customer # 7", Amount: 700 },
            { Id: 8, Name: "Customer # 8", Amount: 800 }
        ],
        MyElement: {
            Id: 10, Name: "Stand alone", Amount: 5000
        }
    };

    const template = {
        properties: {
            'TCustomer.Sum': function () { return this.Amount * 2 },
            'TCustomerArray.Total': function () { return this.reduce((p, c) => p + c.Sum, 0); }
        },
        events: {
            'TRoot.construct': (obj) => { console.warn('process:' + obj.constructor.name); },
            'TCustomer.construct': (obj) => { console.warn('process:' + obj.constructor.name); },
            'Customers[].Name.change': (obj) => { console.warn('process:' + obj.constructor.name); }
        },
        commands: {
            inc: function (to, value) {
                to.Amount += value;
            },
            test: () => {
                alert('test'); console.log(this); 
            }
        },
        validators: {
            'MyElement.Name': 'Введите имя',
            'Customers[].Name': 'Введите имя',
            'Customers[].Amount': ['Введите число',
                { valid: function (item) { return item.Amount > 100; }, msg: 'Должно быть больше 100' }
            ]
        }
    }

    // ЭТО стандартный viewModel
    var BaseVue = Vue.extend({
        methods: {
            $exec(cmd, ...args) {
                let root = this.$data;
                root._exec_(cmd, ...args);
            },
            $save() {
                alert(JSON.stringify(this.$data, function (key, value) {
                    return (key[0] === '$' || key[0] === '_') ? undefined : value;
                }, 2));
                this.$data.$setDirty(false);
            },
            $reload() {
                let dat = this.$data;
                dat.$merge(modelData);
                dat.$setDirty(false);
            }
        },
        computed: {
            $isDirty() {
                return this.$data.$dirty;
            },
            $isPristine() {
                return !this.$data.$dirty; 
            }
        },
        methods: {
            $onSort(column, dir) {
                //alert('sort on ' + column + ':' + dir);
                //location.hash = { sort }
                let q = store.query;
                let qdir = q.dir;
                if (q.sort === column)
                    qdir = qdir === 'asc' ? 'desc' : 'asc';
                store.query = { sort: column, dir: qdir };
                /*
                var parsing = document.createElement('a');
                parsing.setAttribute('href', window.location.href);
                let search = parsing.search ? parsing.search.replace(/^\?/, '') : '';
                //alert(search);
                let queryString = `?sort=${column}&dir=${dir}`;
                let newUrl = window.location.path + queryString;
                window.history.pushState(null, null, newUrl);
                store.query.sort = column;
                store.$emit('route');
                */
                //window.history.pushState()
            }
        }
    });

    let ctors = {
        TCustomer,
        TCustomerArray,
        TRoot
    };

    cmn.implementRoot(TRoot, template, ctors);
    var reactiveData = new TRoot(modelData);

    var vm = new BaseVue({
        el: "#test-app",
        data: reactiveData,
        computed:
        {
            // Client pagination !!!!
            $Customers10() {
                return this.Customers.slice(0, 10);
            }
        },
        methods: {
            $append100() {
                let arr = this.Customers;
                let newArr = [];
                for (let i = 0; i < 100; i++)
                    newArr.push(arr.$new());
                arr.splice(arr.length, 0, ...newArr);
            }
        }
    });

    //vm._root_ctor = TRoot;
    //vm._template = template;

})();
</script>
</body>
</html>