<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet"/>
</head>
<body>
    <!--TODO:
        1. $reload() -  use metadata
    -->
    <div id="test-app" style="padding:20px;height:600px;overflow:auto">
        <h4>Simple DataGrid</h4>
        <div>
            <div class="toolbar">
                <button @click.stop.prevent="Customers.$append()"><i class="fa fa-plus"></i> add row</button>
                <button @click.stop.prevent="$exec('test')"><i class="fa fa-database"></i> exec</button>
                <button @click.stop.prevent="$save()"><i class="fa fa-save"></i> save</button>
                <button @click.stop.prevent="$reload()"><i class="fa fa-refresh"></i> refresh</button>
                <label v-text="Customers.length"></label>
                <button :disabled="!Customers.$selected" @click.stop.prevent="Customers.$selected.$remove()"><i class="fa fa-tasks"></i> remove selected</button>
                <label v-text="Customers.Total"></label>
                <textbox :item="Customers[0]" prop="Name"></textbox>
            </div>
            <data-grid :items-source="Customers" 
                       :bordered="true" 
                       :striped="true" 
                       :hover="true"
                       :selected="Customers.selected">
                <data-grid-column id="check" icon="check" align="center"></data-grid-column>
                <data-grid-column header="#" content="$index" align="center"></data-grid-column>
                <data-grid-column header="Id" content="Id" align="center"></data-grid-column>
                <data-grid-column header="Name" content="Name" validate="Customers[].Name"></data-grid-column>
                <data-grid-column header="Amount" content="Amount" align="right"></data-grid-column>
                <data-grid-column header="Sum" content="Sum" align="right"></data-grid-column>
                <data-grid-column header="Edit Name" content="Name" :editable="true"></data-grid-column>
                <data-grid-column id="clr" icon="trash" align="center"></data-grid-column>
                <data-grid-column id="txtbox" header="TextBox"></data-grid-column>
                <template slot="clr" scope="cell">
                    <button v-if="cell.row.$checked" @click.stop.prevent="cell.row.$remove()"><i class="fa fa-trash"></i></button>
                    <button @click.stop.prevent="$exec('inc', cell.row, 100)"><i class="fa fa-plus"></i></button>
                    <button @click.stop.prevent="$exec('inc', cell.row, -100)"><i class="fa fa-minus"></i></button>
                </template>
                <template slot="check" scope="cell">
                    <input type="checkbox" value="true" v-model="cell.row.$checked" />
                </template>
                <template slot="txtbox" scope="cell">
                    <textbox :item="cell.row" prop="Name"></textbox>
                </template>
            </data-grid>
        </div>
        <h4>Data</h4>
        <div>
            <pre v-text="$data"></pre>
        </div>
    </div>
    <script type="text/javascript" src="../scripts/vue.js"></script>
    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/platform/webvue.js"></script>
    <script type="text/javascript" src="../app/services/utlis.js"></script>
    <script type="text/javascript" src="../app/services/datamodel.js"></script>
    <script type="text/javascript" src="../app/components/validator.js"></script>
    <script type="text/javascript" src="../app/components/textbox.js"></script>
    <script type="text/javascript" src="../app/components/datagrid.js"></script>


<script type="text/javascript">
(function () {
    const cmn = require('datamodel');

    // ctor
    function TCustomer(source, path, parent) {
        cmn.createObject(this, source, path, parent);
    }

    // metadata
    cmn.defineObject(TCustomer, {
        Id: Number,
        Name: String,
        Amount: Number
    }, /* array item */ true);

    function TCustomerArray(source, path, parent) {
        return cmn.createArray(source, path, TCustomer, TCustomerArray, parent);
    }

    function TRoot(source) {
        cmn.createObject(this, source, '', this);
    }

    cmn.defineObject(TRoot, {
        Customers: TCustomerArray,
        MyElement: TCustomer
    })

    let modelData = {
        Customers: [
            { Id: 5, Name: "Customer # 5", Amount: 500 },
            { Id: 7, Name: "Customer # 7", Amount: 700 },
            { Id: 8, Name: "Customer # 8", Amount: 800 }
        ],
        MyElement: {
            Id: 10, Name: "Stand alone", Amount: 5000
        }
    };

    let template = {
        properties: {
            'TCustomer.Sum': function () { return this.Amount * 2 },
            'TCustomerArray.Total': function () { return this.reduce((p, c) => p + c.Sum, 0); }
        },
        events: {
            'TCustomer.construct': (obj) => { console.warn('process:' + obj.constructor.name); },
            'Customers[].Name.change': (obj) => { console.warn('process:' + obj.constructor.name); }
        },
        commands: {
            inc: function (to, value) {
                to.Amount += value;
            },
            test: () => console.log(this)
        },
        validators: {
            'Customers[].Name': 'Введите имя'
        }
    }

    var BaseVue = Vue.extend({
        methods: {
            $exec(cmd, ...args) {
                let root = this.$data;
                root._exec_(cmd, ...args);
            },
            $save() {
                alert(JSON.stringify(this.$data, function (key, value) {
                    return (key[0] === '$' || key[0] === '_') ? undefined : value;
                }, 2));
            },
            $reload() {
                let newData = new this._root_ctor(modelData);
                for (let key in newData) { 
                    Vue.set(this.$data, key, newData[key]);
                }
            }
        }
    });

    cmn.implementRoot(TRoot, template);
    var reactiveData = new TRoot(modelData);

    var vm = new BaseVue({
        el: "#test-app",
        data: reactiveData,
    });

    //vm._root_ctor = TRoot;
    //vm._template = template;

})();
</script>
</body>
</html>