<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../css/site.css" />
    <meta name="rootUrl" content="" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>


	<div id="app" style="margin:50px;width:200px">
		<h3>Selector</h3>
		list-height="80px" list-width="300px"

		<a2-selector label="selector label" :item="$data" prop="Elem" display="Agent.Name" :fetch="loadData"
					 description="description for selector" placeholder="Введите текст" :create-new="create">
			<a><i class="ico ico-search"></i></a>
			<!--
		<template slot="pane" slot-scope="root">
			<div class="selector-slot-container" :style="root.slotStyle">
				<table class="a2-table selector-table grid-vertical striped">
					<thead>
						<tr>
							<td>Id</td>
							<td>Name</td>
							<td>Agent</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(itm, itmIndex) in root.items" @mousedown.prevent="root.hit(itm)"
							:class="{active: root.isItemActive(itmIndex)}">
							<td>{{itm.Id}}</td>
							<td>{{itm.Name}}</td>
							<td>{{itm.Agent.Name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</template>
			-->
		</a2-selector>

		<a2-selector label="selector label" :item="$data" prop="Elem" display="Agent.Name" :fetch="loadData"
					 list-height="280px" list-width="400px"
					 description="description for selector" placeholder="Введите текст" :create-new="create">
			<a><i class="ico ico-search"></i></a>
			<template slot="pane" slot-scope="root">
				<data-grid :fixed-header="true" :striped="true" :hover="true" :is-item-active="root.isItemActive" :hit-item="root.hit"
						   :items-source="root.items" grid="vertical" style="height:280px">
					<data-grid-column header="Id" content="Id"></data-grid-column>
					<data-grid-column header="Name" content="Name"></data-grid-column>
					<data-grid-column header="Agent" content="Agent.Name"></data-grid-column>
				</data-grid>
			</template>
		</a2-selector>

		<!--

	style="width:300px;max-height:70px;"
	  <ul class="selector-pane">
		  <li @mousedown.prevent="root.hit(itm)" :class="{active: root.isItemActive(itmIndex)}"
			  v-for="(itm, itmIndex) in root.items" :key="itmIndex" v-text="root.itemName(itm)">}</li>
	  </ul>
		  -->
		<!--
			<code v-for="(itm, itmIndex) in root">{{itm}}</code>
			<ul>
				<li @mousedown.prevent="pane.hit(itm)" :class="{active: pane.isItemActive(itmIndex)}"
					v-for="(itm, itmIndex) in pane.items" :key="itmIndex" v-text="pane.itemName(itm)">}</li>
			</ul>
	-->

		<div>
			<code>{{Elem}}</code>
		</div>
	</div>
	<script>
		window.$$locale = {
			$$Locale: 'uk-UA',
			$CreateLC: 'create'
		};
	</script>
	<script src="../scripts/vue.js"></script>
	<script src="../app/app.js"></script>
	<script src="../app/platform/webvue.js"></script>
	<script src="../app/services/utils.js"></script>
	<script src="../app/services/popup.js"></script>
	<script src="../app/services/mask.js"></script>
	<script src="../app/services/log.js"></script>
	<script src="../app/directives/lazy.js"></script>
	<script src="../app/components/control.js"></script>
	<script src="../app/components/validator.js"></script>
	<script src="../app/directives/focus.js"></script>
	<script src="../app/components/selector.js"></script>
	<script src="../app/components/datagrid.js"></script>

	<script>
		const popup = require('std:popup');

		const elems = [
			{ Id: 200, Name: "C#", Agent: { Name: 'C# agent' } },
			{ Id: 201, Name: "C", Agent: { Name: 'C agent' } },
			{ Id: 202, Name: "C++", Agent: { Name: 'C++ agent' } },
			{ Id: 203, Name: "Java", Agent: { Name: 'Java agent' } },
			{ Id: 204, Name: "JavaScript", Agent: { Name: 'Javascript agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 205, Name: "Perl", Agent: { Name: 'Perl agent' } },
			{ Id: 206, Name: "Pyton", Agent: { Name: 'Pyton agent' } },
		];

		new Vue({
			el: "#app",
			data: {
				Elem: elems[2]
			},
			methods: {
				create() {

				},
				loadData(item, text) {
					let tx = text.toLowerCase();
					return new Promise((resolve) => {
						let els = elems.filter((val) => val.Name.toLowerCase().indexOf(tx) !== -1);
						resolve({ Result: els });
					})
				}
			}
		});

		popup.startService();
	</script>
</body>
</html>