<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="/css/font-awesome.min.css?v=4.7.0" rel="stylesheet" />
    <link href="/css/site.min.css" rel="stylesheet" />
</head>
<body>
    <div id="app" style="padding:20px;width:250px;border:1px solid brown;margin:20px;">
        <h3>tree view component test</h3>
        <div style="margin-bottom:15px">
            <label>
                <input type="checkbox" v-model="hasIcon" />
                Has Icon
            </label>
            <label>
                <input type="checkbox" v-model="wrapLabel" />
                Wrap Label
            </label>
            <button @click="addElem">Add element</button>
        </div>
        <ul class="tree-view" style="border:1px solid silver;height:200px;">
            <tree-item v-for="(itm, index) in items" 
               :item="itm" :key="index" :label="'name'" icon="icon" title="name"
               :subitems="'menu'" :click="click" :is-active="isActive" :has-icon="hasIcon" :wrap-label="wrapLabel">
            </tree-item>
        </ul>
    </div>
    <script src="/scripts/vue.js"></script>
    <script src="/app/components/treeview.js"></script>
    <script>
        (function () {

            var menu = [
                {
                    name: "User", icon: "user", menu: [
                        { name: "Sub User 1", icon:"folder" },
                        { name: "Sub User 2", icon:"folder-open" }
                    ]
                },
                {
                    name: "Tasks", icon: "tasks", menu: [
                        {name: "Sub Task 1", icon:"folder" },
                        {name: "Sub Task 2 with long line and wrapping text", icon:"folder-o", menu: [
                                { name: "Sub Sub Task 2.1 with long line and wrapping text", icon:"users" },
                                { name: "Sub Sub Task 2.2", icon:"book" }
                            ]
                        }
                    ]
                }
            ]

            new Vue({
                el: "#app",
                data: {
                    items: menu,
                    activeItem: null,
                    hasIcon: true,
                    wrapLabel: true
                },
                methods: {
                    click: function (item) {
                        this.activeItem = item;
                    },
                    isActive: function (item) {
                        return item === this.activeItem;
                    },
                    addElem: function () {
                        this.items.push({name:"from script", icon:"bug"})
                    }
                }
            });
        })();
    </script>
</body>
</html>