
// fonts
@font-family: system, 'Segoe UI', Tahoma, Verdana, sans-serif;
@monospace-font: Consolas, 'Courier New', Courier, monospace;
@font-size: 14px;
@font-bold: 600;


// colors
@text-color: #222;
@brand-bk-color: #4d6082;


// header
@header-height:2rem;
