<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="backgroundTasks" type="A2v10.BackgroundTasks.BackgroundTasksSection, A2v10.BackgroundTasks" />
	</configSections>
	<connectionStrings>
		<clear />
		<add name="Default" connectionString="Server=localhost;Integrated Security=True;Database=a2v10demo" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<backgroundTasks>
		<task name="WorkflowTimer" type="A2v10.Workflow.Pending, A2v10.Workflow" count="10" interval="00:00:10" />
	</backgroundTasks>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>