<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="backgroundTasks" type="A2v10.BackgroundTasks.BackgroundTasksSection, A2v10.BackgroundTasks"/>
	</configSections>
	<connectionStrings>
		<clear/>
		<add name="Default" connectionString="Server=localhost;Integrated Security=True;Database=a2v10demo" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!--
		<add key="appPath" value="c:/git/a2v10/apps" />
		-->
		<add key="appPath" value="db:Default"/>
		<add key="appKey" value="develop"/>
		<add key="appHost" value="http://localhost:56358"/>
	</appSettings>
	<backgroundTasks>
		<task name="WorkflowTimer" type="A2v10.Workflow.Pending, A2v10.Workflow" count="10" interval="00:00:10"/>
	</backgroundTasks>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.net>
		<mailSettings>
			<smtp from="a@a.com" deliveryMethod="SpecifiedPickupDirectory" deliveryFormat="International">
				<specifiedPickupDirectory pickupDirectoryLocation="c:\git\pickup"/>
				<network host="" port="111" userName="" password="" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
