<div class="center-page user-select">
	<div class="initial-form">
		<h3 class="a2-header text-center" v-text="locale.$ForgotPrompt"></h3>
		<hr style="margin-top:1rem" />
		<div v-if="serverError" class="validation-summary" style="margin-top:10px;white-space:normal">
			<span class="error" v-text="serverError"></span>
		</div>
		<div v-if="emailVisible">
			<div class="control-group" :class="{invalid: !validEmail}">
				<label class="a2-label required" v-text="locale.$Email"></label>
				<div class="input-group">
					<input v-focus class="control" type="text" v-model="email" tabindex="1" spellcheck="false" name="email"/>
					<div class="validator">
						<span class="error" v-text="emailError"></span>
					</div>
				</div>
			</div>
			<button @click.stop.prevent="submitForgot" class="btn btn-default" tabindex="2" v-text="locale.$Continue"></button>
		</div>
		<div v-if="codeVisible">
			<p v-text="confirmText"></p>

			<div class="control-group bold" style="width:15rem;margin:0 auto;">
				<label class="a2-label required" v-text="locale.$ConfirmCode"></label>
				<div class="input-group">
					<input v-focus class="control text-center" type="text" v-model="code" tabindex="1" spellcheck="false" />
				</div>
			</div>

			<button @click.stop.prevent="submitCode" class="btn btn-default" v-text="locale.$Continue" :disabled="confirmCodeDisabled"></button>
		</div>

		<div v-if="passwordVisible">
			<div class="control-group">
				<label class="a2-label" v-text="locale.$Email"></label>
				<div class="input-group static">
					<span class="static-input" v-text="email" />
				</div>
			</div>
			<div class="control-group" :class="{invalid: !validPassword}">
				<label class="a2-label required" v-text="locale.$Password"></label>
				<div class="input-group">
					<input class="control" v-focus type="password" v-model="password" tabindex="4" autocomplete="off" />
					<div class="validator">
						<span class="error" v-text="passwordError"></span>
					</div>
				</div>
			</div>
			<div class="control-group" :class="{invalid: !validConfirm}">
				<label class="a2-label required" v-text="locale.$Confirm"></label>
				<div class="input-group">
					<input class="control" v-focus type="password" v-model="confirm" autocomplete="off"
						   tabindex="5" :title="locale.$PasswordTip" />
					<div class="validator">
						<span class="error" v-text="locale.$MatchError"></span>
					</div>
				</div>
			</div>
			<button @click.stop.prevent="submitReset" tabindex="6" class="btn btn-default" v-text="locale.$ResetPassword"></button>
		</div>
		<a tabindex="3" :href="getReferUrl('/')" class="a2-hyperlink" v-text="locale.$LoginLink"></a>
	</div>
</div>
