<div class="center-page">
	<div class="initial-form">
		<h3 class="a2-header text-center" v-text="locale.$ForgotPrompt"></h3>
		<hr style="margin-top:1rem" />
		<div v-if="serverError" class="validation-summary" style="margin-top:10px">
			<span class="error" v-text="serverError"></span>
		</div>
		<div v-if="showConfirm">
			<p v-text="confirmText"></p>
			<p v-text="locale.$CheckEMail"></p>
			<a tabindex="3" :href="getReferUrl('/')" class="a2-hyperlink" v-text="locale.$LoginLink"></a>
		</div>
		<div v-else>
			<div class="control-group" :class="{invalid: !validEmail}">
				<label class="a2-label required text" v-text="locale.$Email"></label>
				<div class="input-group">
					<input v-focus class="control" type="text" v-model="email" tabindex="1" spellcheck="false" />
					<div class="validator">
						<span class="error" v-text="emailError"></span>
					</div>
				</div>
			</div>
			<button @click.stop.prevent="submit" class="btn btn-default" tabindex="2" v-text="locale.$EMailLink"></button>
			<a tabindex="3" :href="getReferUrl('/')" class="a2-hyperlink" v-text="locale.$LoginLink"></a>
		</div>
	</div>
</div>
