<div class="center-page">
	<div class="initial-form">
		<h3 class="a2-header text-center" v-text="locale.$PasswordRecovery"></h3>
		<hr style="margin-top:1rem" />
		<div v-if="serverError" class="validation-summary" style="margin-top:10px;white-space:normal">
			<span class="error" v-text="serverError"></span>
		</div>
		<div class="control-group" :class="{invalid: !validPassword}">
			<label class="a2-label required" v-text="locale.$Password"></label>
			<div class="input-group">
				<input class="control" v-focus type="password" name="password" v-model="password" tabindex="1" autocomplete="off" />
				<div class="validator">
					<span class="error" v-text="passwordError"></span>
				</div>
			</div>
		</div>
		<div class="control-group" :class="{invalid: !validConfirm}">
			<label class="a2-label required" v-text="locale.$Confirm"></label>
			<div class="input-group">
				<input class="control" v-focus type="password" name="confirm" v-model="confirm" autocomplete="off"
					   tabindex="2" :title="locale.$PasswordTip" />
				<div class="validator">
					<span class="error" v-text="locale.$MatchError"></span>
				</div>
			</div>
		</div>
		<button @click.stop.prevent="submitInitPassword" tabindex="6" class="btn btn-default" v-text="locale.$ResetPassword"></button>
	</div>
</div>