<!DOCTYPE html>
<!--
A2v10 platform.
Copyright © 2015-2023 Oleksandr Kukhtin. All rights reserved.
Site: https://a2v10.com
GitHub: https://github.com/alex-kukhtin/A2v10
-->
<html lang="$(Lang)">
<head>
	$(SiteMeta)
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="$(Description)" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
	<meta name="helpUrl" content="$(HelpUrl)" />
	$(LayoutHead)
	<title>$(Title)</title>
	<link href="/css/$(Theme).min.css?v=$(ThemeTimeStamp)" rel="stylesheet" />
	$(ColorScheme)
	$(AssetsStyleSheets)
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	$(AppleTouchIcon)
	$(LayoutManifest)
</head>
<body>
	$(LayoutBody)
	<div id="app" class="shell" v-cloak>
		<header class="header">
			<a class="h-block" :href="getReferUrl('/')" tabindex="-1">
				<span class="app-logo" v-if=hasLogo>
					<img :src="logoSrc" />
				</span>
				<span class="app-title" v-text="info.title"></span>
				<span class="app-subtitle" v-text="info.subtitle"></span>
			</a>
			<div class="aligner"></div>
		</header>
		<div class="main-view">
			<div class="load-indicator" v-show="processing"></div>
			<div class="content-view full-view">
				<div class="include">
					<div class="page inital-page">
						$(Partial)
					</div>
				</div>
			</div>
		</div>
		<footer class="footer" style="padding-right:8px">
			<div :class="{spinner: true, active: processing}"></div>
			<div class="divider"></div>

			<div class="app-links">
				<a v-for="(lnk, lx) in appLinks" :href="lnk.url" :key="lx" tabindex="-1" v-text="lnk.title">@[About]</a>
			</div>


			<span class="divider"></span>

			<span>
				<a target="_blank" tabindex="-1" href="https://a2v10.com"><i class="ico ico-a2logo a2logo-layout"></i></a>
				<span v-text="locale.$Version"></span>&nbsp;
				<span v-text="info.version"></span>
			</span>
		</footer>
	</div>

	<script type="text/javascript">
		(function () {
			function isNewBrowser() {
				if (typeof CSS === 'undefined') return false;
				return CSS.supports && CSS.supports("display", "grid");
			}

			if (!isNewBrowser()) {
				var appElem = document.getElementById("app");
				//appElem.parentElement.removeChild(appElem);
				var nsd = document.createElement("div");
				nsd.classList.add("not-supported");
				nsd.innerText = "We're sorry, but this browser is not supported.";
				document.body.appendChild(nsd);
			}
		})();
	</script>

	<script type="text/javascript" src="/scripts/vue.min.js?v=2.7.16"></script>
	<script type="text/javascript">
		$(PageScript)
	</script>
</body>
</html>
