<!DOCTYPE html>
<html lang="$(Locale)">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="$(Description)" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
	<meta name="rootUrl" content="$(RootUrl)" />
	<meta name="helpUrl" content="$(HelpUrl)" />
	<title></title>
	<link href="/css/$(Theme).min.css?v=$(Build)" rel="stylesheet" />
	$(AssetsStyleSheets)
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div id="shell" class="shell" v-cloak>
		<header class="header">
			<div class="h-block">
				<!--<i class="bowtie-user"></i>-->
				<a class="app-title" href='/' @click.prevent="root" v-text="title" tabindex="-1"></a>
				<span class="app-subtitle" v-text="subtitle"></span>
			</div>
			<div class="aligner"></div>
			<a2-new-button :menu="newMenu" icon="plus" btn-style="success"></a2-new-button>
			<a2-new-button :menu="settingsMenu" icon="gear-outline" title="@[Settings]"></a2-new-button>
			<a class="nav-admin middle" v-if="hasFeedback" tabindex="-1" @click.prevent="showFeedback" title="@[Feedback]" :class="{open: feedbackVisible}"><i class="ico ico-comment-outline"></i></a>
			<a class="nav-admin" v-if="userIsAdmin" href="/admin/" tabindex="-1"><i class="ico ico-gear-outline"></i></a>
			<div class="dropdown dir-down" v-dropdown>
				<button class="btn user-name" toggle title="$(PersonName)"><i class="ico ico-user"></i> <span class="person-name">$(PersonName)</span><span class="caret"></span></button>
				<div class="dropdown-menu menu down-right">
					<a v-for="(itm, itmIndex) in profileItems" @click.prevent="doProfileMenu(itm)" class="dropdown-item" tabindex="-1"><i class="ico" :class="'ico-' + itm.icon"></i> <span v-text="itm.title" :key="itmIndex"></span></a>
					<a @click.prevent="changePassword" class="dropdown-item" tabindex="-1"><i class="ico ico-access"></i> @[ChangePassword]</a>
					<template v-if="userIsAdmin">
						<div class="divider"></div>
						<a @click.prevent="changeUser" class="dropdown-item" tabindex="-1"><i class="ico ico-switch"></i> @[SubstUser]</a>
					</template>
					<div class="divider"></div>
					<form id="logoutForm" method="post" action="/account/logoff">
						<a href="javascript:document.getElementById('logoutForm').submit()" tabindex="-1" class="dropdown-item"><i class="ico ico-exit"></i> @[Quit]</a>
					</form>
				</div>
			</div>
		</header>
		<a2-main-view :menu="menu" :side-bar-mode="sideBarMode"></a2-main-view>
		<a2-debug :model-stack="modelStack" :model-visible="debugShowModel" v-if="isDebug"
				  :trace-visible="debugShowTrace" :counter="dataCounter" :close="debugClose"></a2-debug>
		<a2-feedback v-if="hasFeedback" :model-stack="modelStack" :visible="feedbackVisible" :close="feedbackClose" :source="feedback"></a2-feedback>
		<footer class="footer">
			<div :class="{spinner: true, active:processing}"></div>

			<span class="divider"></span>

			<div class="app-links">
				<a href="/app/about" @click.prevent="about" tabindex="-1">@[About]</a>
				<a v-for="(lnk, lx) in appLinks" :href="lnk.url" :key="lx" @click.prevent="appLink(lnk)" tabindex="-1" v-text="lnk.title">@[About]</a>
			</div>

			<span class="divider"></span>

			<span class="version-info">@[Version] <span v-text="version"></span>
			</span>
			<div class="debug-btn dropdown dir-up" v-dropdown v-if="isDebug">
				<button class="btn btn-debug" toggle>@[Debug]<span class="caret up"></span></button>
				<div class="dropdown-menu menu up-right">
					<a @click.prevent="debugModel" class="dropdown-item" tabindex="-1"><i class="ico ico-database"></i> @[DataModel]</a>
					<a @click.prevent="debugTrace" class="dropdown-item" tabindex="-1"><i class="ico ico-chart-stacked-line"></i> @[Profiling]</a>
					<div class="divider"></div>
					<!--
					<a @click.prevent="debugOptions" class="dropdown-item"><i class="ico ico-wrench"></i> Настройка</a>
					-->
					<label class="checkbox">
						<input type="checkbox" v-model="traceEnabled" />
						<span>@[Tracing]</span>
					</label>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="/scripts/vue.$(Minify)js?v=$(Build)"></script>
	<script type="text/javascript" src="/scripts/d3.min.js?v=$(Build)"></script>
	<script type="text/javascript" src="/scripts/locale-$(Locale).min.js?v=$(Build)"></script>
	<script type="text/javascript" src="/scripts/main.js?v=$(Build)"></script>
	$(AssetsScripts)
	<script type="text/javascript" src="/shell/script"></script>
</body>
</html>