<!DOCTYPE html>
<!--
A2v10 platform.
Copyright © 2015-2022 Oleksandr Kukhtin. All rights reserved.
Site: https://a2v10.com
GitHub: https://github.com/alex-kukhtin/A2v10
-->
<html lang="$(Locale)">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="$(Description)" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
	<meta name="rootUrl" content="$(RootUrl)" />
	<meta name="helpUrl" content="$(HelpUrl)" />
	<meta name="theme-color" content="#4d6082" />
	$(LayoutHead)
	<title></title>
	<link href="/css/$(Theme).min.css?v=$(ThemeTimeStamp)" rel="stylesheet" />
	$(ColorScheme)
	$(AssetsStyleSheets)
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	$(AppleTouchIcon)
	$(LayoutManifest)
</head>
<body>
	<div id="shell" class="shell" v-cloak>
		<header class="header">
			<div class="top-menu-btn">
				<a @click.stop.prevent="showMenu" href=""><i class="ico ico-menu"></i></a>
			</div>
			<a class="h-title" href="/" v-text="pageTitle"></a>
			<div class="profile relative">
				<!--
				<i class="ico ico-bell">
				</i>
				<span class="x-badge">2</span>
					-->
				<i class="ico ico-user"></i>
			</div>
		</header>
		<footer class="footer">
			<a class="f-link" href="" @click.stop.prevent="about">@[About]</a>
			<a class="f-link" v-for="lnk in appData.links" v-text="lnk.title" href="" @click.stop.prevent="appLink(lnk)"></a>
		</footer>
		<a2-main-view-mobile></a2-main-view-mobile>
		<a2-debug :model-stack="modelStack" :model-visible="debugShowModel" v-if="isDebug"
				  :trace-visible="debugShowTrace" :counter="dataCounter" :close="debugClose"></a2-debug>
		<a2-mobile-menu :menu="menu" :visible="menuVisible" :hide="hideMenu" :navigate="navigateMenu"></a2-mobile-menu>
		<div class="debug-btn dropdown dir-up" v-dropdown v-if="isDebug">
			<button class="btn btn-debug" toggle>@[Debug]<span class="caret up"></span></button>
			<div class="dropdown-menu menu up-left">
				<a @click.prevent="debugModel" class="dropdown-item" tabindex="-1"><i class="ico ico-database"></i> @[DataModel]</a>
				<a @click.prevent="debugTrace" class="dropdown-item" tabindex="-1"><i class="ico ico-chart-stacked-line"></i> @[Profiling]</a>
				<div class="divider"></div>
				<label class="checkbox">
					<input type="checkbox" v-model="traceEnabled" />
					<span>@[Tracing]</span>
				</label>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/scripts/vue.$(Minify)js?v=$(Build)"></script>
	<script type="text/javascript" src="/scripts/d3.min.js?v=$(Build)"></script>
	<script type="text/javascript" src="/scripts/locale-$(Locale).min.js?v=$(Build)"></script>
	<script type="text/javascript" src="/scripts/mobile.js?v=$(Build)"></script>
	$(AssetsScripts)
	<script type="text/javascript" src="/_shell/script"></script>
	$(LayoutScripts)
</body>
</html>