<div class="center-page">
	<div class="initial-form">
		<h3 class="a2-header text-center" v-text="locale.$RegisterPrompt"></h3>
		<hr style="margin-top:1rem" />
		<div v-if="serverError" class="validation-summary" style="margin-top:10px;white-space:normal">
			<span class="error" v-text="serverError"></span>
		</div>
		<div v-if="showConfirm">
			<div class="user-select">
				<p v-text="confirmRegisterText"></p>

				<div class="control-group bold" style="width:15rem;margin:0 auto;">
					<label class="a2-label required" v-text="locale.$ConfirmCode"></label>
					<div class="input-group">
						<input v-focus class="control text-center" type="text" name="code" v-model="confirmCode" tabindex="1" spellcheck="false" />
					</div>
				</div>

				<button @click.stop.prevent="submitConfirm" class="btn btn-default" v-text="locale.$Continue" :disabled="confirmEmailDisabled"></button>

				<a tabindex="3" :href="getReferUrl('/')" class="a2-hyperlink" v-text="locale.$LoginLink"></a>
			</div>
		</div>
		<div v-else>
				<div class="control-group" :class="{invalid: !validEmail}">
					<label class="a2-label required" v-text="locale.$Email"></label>
					<div class="input-group">
						<input v-focus class="control" type="text" name="email" v-model="email" tabindex="1" autocomplete="email" spellcheck="false" />
						<div class="validator">
							<span class="error" v-text="emailError"></span>
						</div>
					</div>
				</div>
				<div class="control-group" :class="{invalid: !validName}">
					<label class="a2-label required" v-text="locale.$Name"></label>
					<div class="input-group">
						<input v-focus class="control" type="text" name="name" v-model="name" tabindex="2" autocomplete="off" maxlength="128" />
						<div class="validator">
							<span class="error" v-text="locale.$EnterName"></span>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="a2-label" v-text="locale.$Phone"></label>
					<div class="input-group">
						<input class="control" type="text" name="phone" v-model="maskedPhone"
							   v-on:change="onPhoneChange($event.target.value)"
							   tabindex="3" autocomplete="tel" ref="phoneInput" placeholder="+38 (000) 000-00-00" />
						<div class="validator">
							<span class="error" v-text="locale.$EnterPhone"></span>
						</div>
					</div>
				</div>
				<div class="control-group" :class="{invalid: !validPassword}">
					<label class="a2-label required" v-text="locale.$Password"></label>
					<div class="input-group">
						<input class="control" v-focus type="password" name="password" v-model="password" tabindex="4" autocomplete="off" />
						<div class="validator">
							<span class="error" v-text="passwordError"></span>
						</div>
					</div>
				</div>
				<div class="control-group" :class="{invalid: !validConfirm}">
					<label class="a2-label required" v-text="locale.$Confirm"></label>
					<div class="input-group">
						<input class="control" v-focus type="password" name="confirm" v-model="confirm" autocomplete="off"
							   tabindex="5" :title="locale.$PasswordTip" />
						<div class="validator">
							<span class="error" v-text="locale.$MatchError"></span>
						</div>
					</div>
				</div>
				<button @click.stop.prevent="submitRegister" tabindex="6" class="btn btn-default" v-text="locale.$Register"></button>
				<a tabindex="7" :href="getReferUrl('/')" class="a2-hyperlink" v-text="locale.$LoginLink"></a>
		</div>
	</div>
</div>