<div class="content-view full-view" style="margin:8px;overflow:auto">
	<h4 class="a2-header" v-text="locale.$RegisterPrompt"></h4>
	<hr style="margin-top:1rem" />
	<div v-if="serverError" class="validation-summary" style="width:390px;margin-top:10px">
		<span class="error" v-text="serverError"></span>
	</div>
	<form>
		<div v-if="showConfirm" class="user-select">
			<p v-text="confirmRegisterText"></p>
			<p v-text="locale.$CheckEMail"></p>
			<a tabindex="3" href="/" class="a2-hyperlink" v-text="locale.$LoginLink"></a>
		</div>
		<div v-else class="grid" style="grid-template-columns:auto 1fr; width:400px">
			<label style="grid-row:1; grid-column:1" class="a2-label required text-right" v-text="locale.$Email"></label>
			<div class="control-group" style="grid-row:1;grid-column:2" :class="{invalid: !validEmail}">
				<div class="input-group">
					<input v-focus class="control" type="text" name="email" v-model="email" tabindex="1" autocomplete="email" spellcheck="false"/>
					<div class="validator">
						<span class="error" v-text="emailError"></span>
					</div>
				</div>
			</div>
			<label style="grid-row:2; grid-column:1" class="a2-label required text-right" v-text="locale.$Name"></label>
			<div class="control-group" style="grid-row:2; grid-column:2" :class="{invalid: !validName}">
				<div class="input-group">
					<input v-focus class="control" type="text" name="name" v-model="name" tabindex="2" autocomplete="off" maxlength="128"/>
					<div class="validator">
						<span class="error" v-text="locale.$EnterName"></span>
					</div>
				</div>
			</div>
			<label style="grid-row:3; grid-column:1" class="a2-label required text-right" v-text="locale.$Phone"></label>
			<div class="control-group" style="grid-row:3; grid-column:2" :class="{invalid: !validPhone}">
				<div class="input-group">
					<input class="control" type="text" name="phone" v-model="maskedPhone"
						v-on:change="onPhoneChange($event.target.value)"
						tabindex="3" autocomplete="tel" ref="phoneInput" placeholder="+38 (000) 000-00-00"/>
					<div class="validator">
						<span class="error" v-text="locale.$EnterPhone"></span>
					</div>
				</div>
			</div>
			<label style="grid-row:4; grid-column:1" class="a2-label required text-right" v-text="locale.$Password"></label>
			<div class="control-group" style="grid-row:4;grid-column:2" :class="{invalid: !validPassword}">
				<div class="input-group">
					<input class="control" v-focus type="password" name="password" v-model="password" tabindex="4" autocomplete="off"/>
					<div class="validator">
						<span class="error" v-text="passwordError"></span>
					</div>
				</div>
			</div>
			<label style="grid-row:5; grid-column:1" class="a2-label required text-right" v-text="locale.$Confirm"></label>
			<div class="control-group" style="grid-row:5; grid-column:2" :class="{invalid: !validConfirm}">
				<div class="input-group">
					<input class="control" v-focus type="password" name="confirm" v-model="confirm" autocomplete="off"
						   tabindex="5" :title="locale.$PasswordTip" />
					<div class="validator">
						<span class="error" v-text="locale.$MatchError"></span>
					</div>
				</div>
			</div>
			<div style="grid-row:6;grid-column:2">
				<button @click.stop.prevent="submit" tabindex="6" class="btn btn-default" v-text="locale.$Register"></button>
				<a tabindex="7" :href="getReferUrl('/')" class="a2-hyperlink" style="margin-left:10px" v-text="locale.$LoginLink"></a>
			</div>
		</div>
	</form>
</div>
