/* application styles here */

.app-title {
	color:gold!important;
}

.w300 {
	min-width:300px;
}

/*
#shell {
	--hoverBk: #fdf4bf;
	--activeBk: #cde6f7;
	--hoverBkLight: #fdf4bf;
	--activeBkLight: #cde6f7;
}
*/