body {
  font-size: 18px;
}
.my-toolbar {
  background-color: yellow;
}
.my-toolbar .btn-tb:hover {
  font-size: 15px;
  background-color: red;
}
.a2-list.compact {
  background-color: aqua;
  font-size: 18px;
}