/* icon colors */
@icon-blue: #034989;
@icon-green: #317a2e;
@icon-red: #a94442;
@icon-yellow: #dcb67a;

@font-face {
    font-family: 'Bowtie';
    src: url('/css/fonts/bowtie.eot');
    src: url('/css/fonts/bowtie.eot?#iefix') format('eot'), 
        url('/css/fonts/bowtie.woff') format('woff'), 
        url('/css/fonts/bowtie.ttf') format('truetype'), 
        url('/css/fonts/bowtie.svg#bowtie') format('svg');
    font-weight: normal;
    font-style: normal;
}

i, .ico {
    font-family: 'Bowtie';
    speak: none;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-none:before {
    content: "";
}

.ico-alert:before {
    content: "\e935";
    color:@icon-red;
}

.ico-flag:before {
    content: "\e935";
}

.ico-approve:before {
    content: "\e936";
}

.ico-disapprove:before {
    content: "\e937";
}

.ico-calendar:before {
    content: "\e93d";
}



.ico-chart-area:before {
    content: "\e922";
}
.ico-chart-bar:before {
    content: "\e923";
}
.ico-chart-column:before {
    content: "\e924";
}
.ico-chart-pie:before {
    content: "\e925";
}
.ico-chart-pivot:before {
    content: "\e926";
}
.ico-chart-stacked-area:before {
    content: "\e927";
}
.ico-chart-stacked-bar:before {
    content: "\e928";
}

.ico-chevron-down:before {
    content: "\e9a4";
}

.ico-chevron-left:before {
    content: "\e9a3";
}

.ico-chevron-right:before {
    content: "\e9a5";
}

.ico-chevron-up:before {
    content: "\e9a2";
}

.ico-comment:before {
    content: "\e92d";
}

.ico-comment-add:before {
    content: "\e92e";
}

.ico-comment-discussion:before {
    content: "\e92f";
}

.ico-comment-lines:before {
    content: "\e930";
}

.ico-comment-next:before {
    content: "\e931";
}

.ico-comment-outline:before {
    content: "\e932";
}

.ico-comment-previous:before {
    content: "\e933";
}

.ico-comment-urgent:before {
    content: "\e934";
}

.ico-copy:before {
    content: "\e94b";
}

.ico-cut:before {
    content: "\e94c";
}

.ico-dashboard:before {
    content: "\e944";
}

.ico-database:before {
    content: "\e945";
}

.ico-dot:before {
    content: "\ea49";
}

.ico-edit:before {
    content: "\e949";
}

.ico-file:before {
    content: "\e9dd";
}

.ico-filter:before {
    content: "\e988";
}

.ico-filter-outline:before {
    content: "\e987";
}

.ico-folder:before {
    content: "\e95b";
    color: @icon-yellow;
}

.ico-minus:before {
    content: "\e965";
}

.ico-minus-box:before {
    content: "\e967";
}

.ico-plus:before {
    content: "\e970";
    color: @icon-green;
}

.ico-plus-box:before {
    content: "\e973";
}

.ico-menu:before {
    content: "\e9f9";
}

.ico-message:before {
    content: "\e963";
}

.ico-history:before {
    content: "\e9ff";
}
.ico-reload:before,
.ico-refresh:before {
    content: "\ea00";
    color: @icon-blue;
}

.ico-error:before {
    content: "\ea02";
    color: @icon-red;
}

.ico-error-outline:before {
    content: "\ea03";
    color: @icon-red;
}

.ico-requery:before {
    content: "\e90e";
    color: @icon-blue;
}

.ico-save:before {
    content: "\e982";
    color: @icon-blue;
}

.ico-save-close:before {
    content: "\e985";
    color: @icon-blue;
}

.ico-search:before {
    content: "\e986";
}

.ico-gear:before {
    content: "\e98f";
}

.ico-gear-outline:before {
    content: "\e990";
}

.ico-help:before {
    content: "\ea06";
}

.ico-info:before {
    content: "\ea08";
}

.ico-info-outline:before {
    content: "\ea09";
}

.ico-paste:before {
    content: "\e94e";
}

.ico-success:before {
    content: "\ea12";
}

.ico-waiting:before {
    content: "\ea14";
}

.ico-warning:before {
    content: "\ea16";
}

.ico-trash:before {
    content: "\e992";
    color: @icon-red;
}

.ico-table:before {
    content: "\eab0";
}

.ico-tag:before {
    content: "\e997";
}

.ico-tag-outline:before {
    content: "\e996";
}

.ico-download:before {
    content: "\e90f";
}

.ico-upload:before {
    content: "\e910";
}

.ico-user:before {
    content: "\e998";
}

.ico-users:before {
    content: "\e999";
}

.ico-eye:before {
    content: "\e99e";
}

.ico-delete:before {
    content: "\e94f";
    color: @icon-red;
}

.ico-clear:before {
    content: "\e9fa";
}

.ico-close:before {
    content: "\e9fa";
}
