

.btn {

    &:focus {
        outline-style: none;
    }

    &:disabled {
        opacity: 0.5;
        color: #777;
    }

    &.btn-icon .ico {
        margin-right:0;
    }
}


.btnclose {
    padding:0 4px;
    line-height:normal;
    background-color:transparent;
    border:1px solid transparent;
}

.caret {
    display:inline-block;
    margin-left:4px;
    border:4px solid transparent;
    vertical-align:middle;
    border-top-color:currentColor;
}

.caret.up {
    border-top-color:transparent;
    border-bottom-color:currentColor;
    vertical-align:top;
}