@import "Variables.less";

@checkbox-size: 14px;
@checkbox-brd-color: #999;
@font-family-icon: 'Bowtie';
@checkmark-color:#555;
@disabled-txt-color:#aaa;
@disabled-bk-color:#f8f8f8;

.tab-focus() {
    // Default
    outline:thin dotted @checkbox-brd-color;
    outline-offset: 0;
}

label.checkbox, label.radio {
    cursor: pointer;
    display: inline;
    position:relative;
    //margin-right: 10px; ???
    padding:2px 0;
    line-height:16px;
    white-space:nowrap;

    span {
        display: inline-block;
        position: relative;
        padding-left: @checkbox-size + 7px;
        min-height:1em;
        white-space:normal;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            display: inline-block;
            width: @checkbox-size;
            height: @checkbox-size;
            border: 1px solid @checkbox-brd-color;
            border-radius: 1px;
            background-color: white;
        }

        &::after {
            content:'';
            font-family: @font-family-icon;
            font-size: 85%;
            position: absolute;
            display:inline-block;
            left: 0;
            top: 0;
            line-height: @checkbox-size;
            width: @checkbox-size;
            height:@checkbox-size;
            border:1px solid transparent;
            text-align: center;
            color: @checkmark-color;
        }
    }

    &.no-wrap {
        span {
            white-space:nowrap;
        }
    }

    &.no-label {
        span {
            padding-left:@checkbox-size + 1px;
        }
    }
}

label.radio {
    span::before {
        border-radius:50%;
    }
}

input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    z-index: 1;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position:absolute;
    left:2px; top:2px;// ff:bug 

    &:disabled + span {
        cursor: not-allowed;
        color: @disabled-txt-color;
    }

    &:disabled + span::before {
        border-color: @disabled-txt-color;
        background-color: @disabled-bk-color;
    }

    &:disabled + span::after {
        color: @disabled-txt-color;
        border-color: @disabled-txt-color;
    }
}

input[type="checkbox"] {
    &:checked + span::after {
        content: '\e977';
    }

    &:indeterminate + span::after {
        display: block;
        content: "";
        width: 6px;
        height: 2px;
        left: 4px;
        top: 6px;
        background-color: @checkbox-brd-color;
    }

    &:disabled:indeterminate + span::after {
        background-color: @disabled-txt-color !important;
    }

    &:focus + span::before {
        .tab-focus();
    }
}

input[type="radio"] {
    &:checked + span::after {
        content: '';
        border: 8px solid @checkmark-color;
        border-radius: 50%;
        text-align: center;
        width: 0;
        height: 0;
        transform: scale(0.6, 0.6);
    }

    &:focus + span::before {
        .tab-focus();
    }

    &:disabled + span::after {
        border-color: transparent;
    }
}

// test for small
label.checkbox.small {
    font-size: 0.9em;

    span:before {
        transform: scale(.9, .9);
    }

    span:after {
        transform: scale(.9, .9);
    }
}
