@import "Variables.less";

table.data-grid {
    border: 1px solid @data-grid-border-color;

    td, th {
        padding: 4px 6px;
    }
}

table.bordered {
    td, th {
        border: 1px solid @data-grid-border-color;
    }
}

table.striped {
    > tbody > tr:nth-of-type(odd) {
        background-color:#f5f5f5;
    }
}

