
@import "Variables.less";

/*
    TODO:
    1. Разобраться с border: (td:first-child (left:none???)
*/


@dg-header-bg-color: #f5f5f5;

@dg-sort-column-bg-color: #eee;
@dg-header-hover-color : darken(@dg-header-bg-color, 10%);
@dg-header-txt-color: #555;
@dg-header-brd-color: #ccc;

@dg-danger-bg-color: rgba(255, 106, 0, 0.15);
@dg-warning-bg-color: rgba(255, 216, 0, 0.15);

table.data-grid {
    cursor: default;
    width: 100%;
    border: 1px solid @data-grid-border-color;

    td {
        padding: 4px 6px;
        vertical-align: top;
    }

    td.cell-editable {
        padding: 0;

        .control-group {
            margin: -1px;

            .input-group {
                //border-style:none!important;
            }
        }
    }

    colgroup > col.sorted {
        background-color: @sort-bg-color;
    }

    th {
        background-color: @dg-header-bg-color;
        color: @dg-header-txt-color;
        border-bottom:1px solid @dg-header-brd-color;

        //position: relative; // Firefox BUG: hide borders
        .noselect();

        .h-holder {
            position: relative;
            padding: 4px 6px;
        }

        &.sort {
            cursor: pointer;

            &:hover {
                background-color: @dg-header-hover-color;
            }
        }

        &.sort.desc, &.sort.asc {
            background-color:@dg-sort-column-bg-color;
        }

        &.sort.desc .h-holder:after {
            content: '';
            position: absolute;
            left: ~"calc(50% - 5px)";
            top: 0;
            border: 5px solid transparent;
            border-top-color: #999;
        }

        &.sort.asc .h-holder:after {
            content: '';
            position: absolute;
            left: ~"calc(50% - 5px)";
            top: -5px;
            border: 5px solid transparent;
            border-bottom-color: #999;
        }
    }

    tr.active {
        background-color: @active-bg-color !important;
    }

    td.danger {
        background-color: @dg-danger-bg-color !important;
    }

    td.warning {
        background-color: @dg-warning-bg-color !important;
    }

    td.marker {
        padding: 0;
        width: 12px;
        height: 100%;
        position: relative;

        > div {
            //TODO: HACK ???
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            border-left: 6px solid #ddd;
            background-color: @alter-bg-color;
        }

        > .warning {
            background-color: @dg-warning-bg-color;
            border-left-color: gold;
        }
    }
}


table.data-grid > tbody > tr.warning {
    background-color:@dg-warning-bg-color;
}

table.hover {
    > tbody > tr:hover {
        background-color:@hover-bg-color!important;
    }
}