// Copyright © 2015-2025 Oleksandr Kukhtin. All rights reserved.

@import "Utlis.less";
@import "Variables.less";

@debug-pane-width: 390px;
@debug-pane-bg-color: @whitesmoke-gray-bg-color;

@debug-info-color: #478fb1;

.debug-panel {
	position: absolute;
	right: 0;
	//top: @header-height;
	top: 0;
	bottom: @footer-height;
	right: 0;
	z-index: @debug-index;
	background-color: @debug-pane-bg-color;
	border-left: 1px solid @default-brd-color;
	width: @debug-pane-width;
	box-shadow: -5px 0 10px 0 rgba(0,0,0, 0.2);
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.a2-code {
		font-size: 12px;
	}

	&.left {
		left: 0;
		right: auto;
		border-left: none;
		border-right: 1px solid @default-brd-color;
		box-shadow: 5px 0 10px 0 rgba(0,0,0, 0.2);
	}

	.debug-pane-header {
		background-color: @dialog-header-bg-color;
		padding: 2px 2px 2px 6px;
		border-bottom: 1px solid @default-brd-color;

		.debug-pane-title {
			font-size: .95rem;
		}
		// TODO: JOIN WITH FEEDBACK
		a.btn {
			float: right;
			padding: 0 2px;
			color: #aaa;
			border: 1px solid transparent;

			&:hover {
				color: #555;
				background-color: lighten(@dialog-header-bg-color, 10%);
				border-color: @tb-hover-brd-color;
			}
		}
	}

	.toolbar {
		min-height: 2.8rem;
		height: 2.8rem;

		.btn-checkbox {
			cursor: pointer;
			padding: 4px 5px 5px 6px;
			border: 1px solid transparent;

			&:hover {
				border: 1px solid #e5c365;
				outline: 0;
			}

			&.checked {
				background-color: #cde6f7;
				outline: 1px solid #999;
				outline-offset: -1px;

				&:hover {
					background-color: #fdf4bf;
					border-color: #e5c365;
				}
			}
		}
	}

	.debug-body {
		overflow: auto;
		background-color: @debug-pane-bg-color;
		user-select: text;
	}

	.debug-model {
		pre {
			max-height: none;
		}
	}

	.debug-trace {
		padding: 6px, 0;
		font-family: @monospace-font;
		font-size: 12px;

		.rq-title {
			display: flex;

			.elapsed {
				font-weight: bold;
				white-space: nowrap;
				margin-right: 6px;
			}
		}

		.trace-item-body {
			padding-left: 6px;

			.badge {
				padding: .15rem .25rem;
				margin-left: .2rem;
				border-radius: .15rem;
				background-color: @debug-info-color;
			}

			.title {
				color: @debug-info-color;
			}

			&.exception {
				.badge {
					background-color: @danger-txt-color;
				}

				.title {
					color: @danger-txt-color;
				}
			}
		}

		ul {
			margin: 0 5px 0 10px;
			padding: 0;

			li {
				list-style-type: none;
			}
		}

		ul.a2-debug-trace {
			> li {
				border-bottom: 1px dotted #ccc;
				padding: 2px 0;
			}
		}
	}
}


.a2-json-b {
	font-family: @monospace-font;
	padding: 6px;
	margin: 0;

	ul {
		padding: 0 0 0 16px;
	}

	li {
		list-style: none;
		line-height: normal;
		margin: 0;
		padding: 0;
		cursor: default;
	}

	.jb-label {
		display: inline-flex;
		align-items: center;

		.jbp-overlay {
			display: inline-flex;
			align-items: start;
		}

		.jb-chevron {
			min-width: 16px;
			cursor: pointer;
		}
	}

	.jbp-name {
		color: darkmagenta;
		font-weight: 600;
		white-space: nowrap;
	}

	.jbp-value {
		padding-left: 6px;
		color: #555;
	}

	.jbp-edit {
		font-size: 13px;
		cursor: pointer;
		display: none;
		color: #555;
	}

	.jbp-value:hover .jbp-edit {
		/*display:inline; TODO: edit value */
	}

	.jbp-string {
		color: indianred;
	}

	.jbp-object {
		font-style: italic;
		color: darkcyan;
	}
}
