

.grid {
    display: grid;
    background-color: aliceblue;
    padding:10px;
    grid-gap: 10px;
    align-items: end;
    grid-template-columns: 120px auto 1fr;
    grid-template-rows: auto auto auto auto 1fr;

    div222 {
        width: 100px;
        height: 50px;
        background-color: lightyellow;
        border: 1px solid orange;
    }

    div222:first-child {
        background-color:antiquewhite;
        width:100%;
        height:70px;
    }

    .control-group {
        margin-bottom:0;
    }
}
