
* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	table-layout: auto;
}

td, th {
	padding: 0;
	text-align: left;
	font-weight: normal;
}

button, input[type=button] {
	background-color: #ddd;
}

// EDGE 

input[type=text]::-ms-clear {
	display:none;
}

