
@import "Bowtie.less";
@import "Normalize.less";
@import "Variables.less";
@import "Utlis.less";

html {
	font-family: @font-family;
	font-size:@font-size;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color:@text-color;
    box-sizing:border-box;
    padding:0;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
    padding:0;
    background-color:white;
}

header, .header {
    position:absolute;
    left:0;top:0;right:0;
    height:@header-height;
    line-height:@header-height;
    font-size:18px;
    padding-left:8px;
    background-color:@brand-bk_color;
    color:white;
    a.app-title {
        color:inherit;
        &:hover {
            text-decoration:none;
            color:inherit;
        }
    }
}

@side-bar-width: 250px;
@side-bar-gap: 6px;
@side-bar-collapsed-width: 20px;
@side-bar-collapsed-bg-color: @navbar-bg-color;

.content-view {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:26px;
}

.content-view.partial-page {
    left: @side-bar-width + @side-bar-gap;
    top:64px;
    //background-color:aliceblue;
}

.side-bar-collapsed .content-view.partial-page {
    left: @side-bar-collapsed-width + @side-bar-gap;
}

.content-view.full-page {
    top: 64px;
}

.content-view.full-view {
    top: 32px;
}

.include.loading {
    > div {
        display: none;
    }
    /* //spinner for loading
    &:after {
        content: "\f110"; /* fa-spinner * /
        position: absolute;
        left: ~"calc(50% - 13px)";
        top: ~"calc(50% - 13px)";
        font-size: 26px;
        color: @link-color;
        font-family: FontAwesome;
        //animation: fa-spin 2s infinite linear;
        animation: fa-spin 1s infinite steps(8);
    }
    */
}

@import "Nav.less";


.side-bar {
    position: absolute;
    left: 0;
    top: @header-height + @navbar-height;
    bottom: @footer-height;
    width: @side-bar-width;
    padding: 16px 0 0 0;
    margin: 0;
    border-right: 1px solid @light-brd-color;

    .side-bar-body, .tree-view {
        height: 100%;
    }

    .side-bar-title {
        background-color: @side-bar-collapsed-bg-color;
        white-space: nowrap;
        height: 100%;
        cursor: pointer;
        font-size:14px;
        padding-left:2px;

        .side-bar-label {
            display: block;
            padding-left: 10px;
            transform: rotate(90deg);
        }
    }

    .collapse-handle {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        padding: 2px 4px;
        color: @default-brd-color;
        font-size: 12px;

        &:hover {
            color: @link-hover-color;
            text-decoration: none;
            background-color: @side-bar-collapsed-bg-color;
        }

        &:before {
            content: "\e611"; // ico-chevron-left
        }
    }

    &.collapsed {
        width: @side-bar-collapsed-width;
        background-color: @side-bar-collapsed-bg-color;

        .collapse-handle {
            padding-right:6px;
            &:before {
                content: "\e612"; // ico-chevron-right
            }
        }
    }
}

footer, .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: @footer-height;
    line-height: @footer-height - 2px;
    background-color: @footer-bg-color;
    border-top: 1px solid @default-brd-color;
    z-index: @footer-index;
    padding-left: 8px;
    font-size:12px;

    .right-part {
        display:inline-block;
        float:right;
        padding-right:2px;
    }

    button {
        background-color:skyblue;
        border:1px solid blue;
        font-size:12px;
        padding:1px 6px;
        text-transform:lowercase;
    }
}

a {
    color: @link-color;
    text-decoration: none;

    &:hover {
        color: @link-hover-color;
        text-decoration: underline;
    }

    &:focus {
        outline-style: none;
    }

    &:active {
        color: @link-hover-color;
    }
}

textarea {
	resize: none;
}

td, th {
    text-align:left;
    font-weight:normal;
}

pre {
    font-family: @monospace-font;
    font-size:0.85em;
    background-color:#f8f8f8;
    padding:6px;
}

button {
    padding: 4px 6px;
    font-size: 13px;
}

@import "Control.less";
@import "DataGrid.less";
@import "ToolBar.less";
@import "TreeView.less";
@import "Tab.less";
@import "Dialog.less";

@import "Grid.less";

@danger-txt-color: #a94442;
@danger-bg-color: #f2dede;
@danger-brd-color: darken(@danger-bg-color, 15%);

.app-exception {
    margin: 20% auto;
    width: 50%;
    height: auto;
    text-align: center;
    z-index: 100;
    position: relative;
    padding: 0;
    background-color: @danger-bg-color;
    color: @danger-txt-color;
    border: 1px solid @danger-brd-color;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    .message {
        padding: 15px 10px;
        font-weight: normal;
        white-space:pre-line;
    }

    .stack-trace {
        border-top: 1px solid #a94442;
        overflow: auto;
        padding: 10px;
        max-height: 250px;
    }
}


.load-indicator {
    position: absolute;
    left: 0;
    right: 0;
    top: @header-height - 2px;
    height: 4px;
    width: 100%;
    overflow: hidden;
    background-color: darken(@navbar-bg-color, 10%);

    &:before {
        content: '';
        display: block;
        position: relative;
        left: 0;
        width: 50%;
        height: 4px;
        background-color: gold;
        animation: loading 2s linear infinite;
    }
}

@keyframes loading {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}