
@import "Normalize.less";
@import "Variables.less";
@import "Utlis.less";

html {
	font-family: @font-family;
	font-size:@font-size;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color:@text-color;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
}

textarea {
	resize: none;
}

td, th {
    text-align:left;
    font-weight:normal;
}

@import "Control.less";
@import "DataGrid.less";


pre {
    font-family: @monospace-font;
    font-size:0.85em;
    background-color:#f8f8f8;
    padding:6px;
}
