

.tag-label {
	background-color: #999;
	color: white;
	font-size: 0.86rem;
	padding: 0 .25rem .1rem .25rem;
	//border-radius: .2rem;
	display: inline-block;
	margin: 1px;
	line-height:normal;

	&.success, &.green {
		background-color: @success-base-color;
	}

	&.warning, &.orange {
		background-color: @warning-base-color;
	}

	&.danger, &.red, &.error {
		background-color: @danger-base-color;
	}

	&.info, &.cyan {
		background-color: @info-base-color;
	}

	&.purple {
		background-color: mediumpurple;
	}

	&.pink {
		background-color: hotpink;
	}

	&.gold {
		background-color: #eac500;
	}

	&.blue {
		background-color: cornflowerblue;
	}

	&.salmon {
		background-color: salmon;
	}

	&.seagreen {
		background-color: darkseagreen;
	}

	&.tan {
		background-color: tan;
	}

	&.magenta {
		background-color: darkmagenta;
	}

	&.hidden {
		display: none;
	}
}
