
@import "Variables.less";


.toolbar {
    display:block;
    background-color:@toolbar-bg-color;

    button {
        &:hover {
            background-color:antiquewhite;
        }
    }

    i {
        display:inline-block;
        font-size:14px;
        color:#808080;
        margin-right:4px;
    }
}