
@import "Variables.less";


.toolbar {
    display:block;
    background-color:@toolbar-bg-color;

    i {
        display:inline-block;
        font-size:14px;
        color:#808080;
        width:20px;
    }
}