
@import "Variables.less";

.tree-view {
    margin: 0;
    padding: 0;
    overflow-y:auto;
    overflow-x:hidden;

    li {
        list-style: none;
        position: relative;
        cursor:pointer;

        &.active > .overlay {
            background-color: @active-bg-color;

            &:hover {
                background-color: @active-bg-color;
            }
        }

        > .overlay {
            display: inline-flex;
            align-items: baseline;
            width: 100%;
            padding: 3px 0 5px 0;

            .toggle {
                display: inline-block;
                flex-shrink: 0; /*fixed*/
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: @hover-bg-color;
            }

            i {
                flex-shrink: 0; /*fixed*/
                color: #8591a2;
                font-size: 14px;
                margin-left:2px;
                width:18px; /*16 + 2 margin*/
            }

            .no-wrap {
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
        }

        > ul {
            margin: 0;
            padding-left: 16px; /*indentation*/
        }

        &.collapsed {
            > .overlay > .toggle {

                &:after {
                    content: '';
                    position: absolute;
                    left: 6px; /*padding*/
                    top: 9px;
                    border: 5px solid transparent;
                    border-left-color: @tv-icon-color;
                }
            }

            ul {
                display: none;
            }
        }

        &.expanded {
            > .overlay > .toggle {
                &:after {
                    content: '';
                    position: absolute;
                    left: 4px; /*padding*/
                    top: 9px;
                    border: 4px solid transparent;
                    border-right-color: @tv-icon-color;
                    border-bottom-color: @tv-icon-color;
                }
            }
        }
    }
}

