
.block {
	display: block;
	width: 100%;
}

.bold {
	font-weight: bold;
}

.no-bold {
	font-weight: normal;
}

.no-wrap {
	white-space: nowrap;
}

.wrap {
	white-space: pre-line;
}

.pre-wrap {
	white-space: pre-wrap;
}

.italic {
	font-style: italic;
}

.no-italic {
	font-style: italic;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-small {
	font-size: .9rem;
}

.text-gray {
	color: @gray-text-color;
}

.negative-red {
	color: @danger-base-color !important;
}

.absolute {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	overflow: auto;
}

.aligner {
	flex-grow: 1;
}

td.valign-top {
	vertical-align: baseline !important;
}

td.valign-middle {
	vertical-align: middle !important;
}

td.valign-bottom {
	vertical-align: bottom !important;
}
