

@font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
@monospace-font: Consolas, Courier New, Courier, monospace;
@font-size:13px;

@text-color:#222;

@brand-bk_color: #4d6082;

@data-grid-border-color:#ddd;
