@{
	ViewBag.Title = "Contacts page";
	Layout = "../Shared/_SimpleLayout.cshtml";
}
@section meta {
	<meta name="description" content="CONTACTS page description" />
}
<div>
	<div>
		<a href="/">Go to the home page</a>
	</div>
	<div>
		I am the contacts page (RAZOR without model)
	</div>
</div>
