<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
  <runtime>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-6.0.0.8" newVersion="9.0.0.8"/>
		  </dependentAssembly>
		  <dependentAssembly>
			  <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
			  <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="9.0.0.8"/>
		  </dependentAssembly>
	  </assemblyBinding>
  </runtime>
</configuration>
