@{
}
<h2>Test Workflow</h2>

<div class="container">
	<button class="btn btn-primary" id="start-workflow">StartWorkflow</button>
	<button class="btn btn-secondary" id="resume-workflow">ResumeWorkflow</button>
</div>

@section scripts {
<script src="~/Scripts/pages/workflow.js" type="text/javascript"></script>
}

