:root {
  --background: #ffff;
  --text: #020202;
  --fontSize: 14px;
  --brandPrimary: #dd2c5e;
  --themePrimary: #dd2c5e;
  --themeDark: #c5204f;
  --themeDarker: #af1d46;
  --themeLight: #e82c62;
  --neutralLight: #edebe9;
  --neutralLighterAlt: #faf9f8;
  --neutralSecondary: #605e5c;
  --neutralBkDarker: #dad9d8;
  --neutralBkDark: #e5e4e3;
  --neutralBk: #f3f2f1;
  --neutralBkLight: #faf9f8;
  --link: #2c5edd;
  --hoverBk: #edebe9;
  --activeBk: #f0c1c5;
  --hoverBkLight: #edebe9;
  --activeBkLight: #f0c1c5;
  --dialogHeaderBkColor: #fcf374;
}